

main {
    background-color: #AECFDF;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    
}
article {
    background-color: #47E5BC;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 350px;
}
img {
 
   padding: 15px;
    width: 200px;
    height: 200px;
}