main {
    background-color: #1a759f;
    padding: 20px;   
    display: flex;
    margin: auto;
}

form {
    background-color: #76c893;
     justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}